In [ ]:
import os
import csv
import argparse
import math
import pandas as pd

pd.options.mode.chained_assignment = None  # default='warn'

In [78]:
# Input CSV filename from the command line
# parser = argparse.ArgumentParser()
# parser.add_argument("-d", "--directory", type=str, help="Path to data directory")
# parser.add_argument("-f", "--filename", type=str, help="CSV filename")
# args = parser.parse_args()

# Load the CSV as a DataFrame
# parent_path = os.path.dirname(os.path.abspath(__file__))
# csv_path = os.path.join(parent_path, args.directory, args.filename)
csv_path = "data/felt.csv"

print(f"Reading from: {csv_path}")
df = pd.read_csv(csv_path)
df

Reading from: data/felt.csv

,r0_1,r2_1,r6_1,x_1,y_1,totalR_1,r0_2,r2_2,r6_2,x_2,y_2,totalR_2,centre_x,centre_y,totalM
0,5.196969,2.184610,1.919284,-0.28,21.86,9.300863,1.825915,1.675442,0.757079,-1.38,22.96,4.258436,0.815060,8.242270,13.559299
1,5.196969,2.167257,1.919284,-0.27,21.84,9.283510,1.825915,1.689609,0.745243,-1.41,23.00,4.260767,0.815060,8.242270,13.544277
2,5.196969,2.167257,1.933984,-0.26,21.84,9.298210,1.844736,1.675442,0.732686,-1.43,23.05,4.252863,0.815060,8.242270,13.551073
3,5.196969,2.167257,1.933984,-0.26,21.85,9.298210,1.825915,1.675442,0.723425,-1.44,23.07,4.224782,0.834838,8.188973,13.522993
4,5.196969,2.167257,1.933984,-0.26,21.85,9.298210,1.844736,1.661731,0.705502,-1.47,23.12,4.211968,0.834838,8.188973,13.510179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,1.359000,inf,inf,3.00,13.00,inf,inf,inf,inf,0.00,0.00,inf,NaN,NaN,inf
304,1.217565,inf,0.919280,-0.73,21.20,inf,inf,inf,inf,0.00,0.00,inf,NaN,NaN,inf
305,1.008970,inf,0.822661,-0.67,21.07,inf,inf,inf,inf,0.00,0.00,inf,NaN,NaN,inf
306,0.776438,inf,0.682693,-0.69,21.11,inf,inf,inf,inf,0.00,0.00,inf,NaN,NaN,inf
307,0.422554,inf,inf,3.00,13.00,inf,inf,inf,inf,0.00,0.00,inf,NaN,NaN,inf

In [ ]:
# Sensor locations
#    r0_1	r2_1	r6_1	r0_2	r2_2	r6_2
x = [0,     -1,     4,      3,      1,      -2]
y = [0,     14,     13,     8,      16,     19]

In [ ]:
# Extract relevant columns
# r0_1 etc. are already the converted masses/weights
df_clean = df[['r0_1', 'r2_1', 'r6_1', 'r0_2', 'r2_2', 'r6_2']]
df_clean['x_com'] = 0
df_clean['y_com'] = 0
df_clean

In [83]:
# Not sure why my x_com and y_com are different than the csv
# But mine matches manual calculation
nrows, ncols = df_clean.shape
for i in range(nrows):
    weighted_x, weighted_y, weight_tot = 0, 0, 0
    for j in range(ncols-2):
        weight = df_clean.iloc[i, j]
        if not math.isinf(weight):
            weighted_x += weight * x[j]
            weighted_y += weight * y[j]
            weight_tot += weight
    df_clean.loc[i, 'x_com'] = weighted_x / max(weight_tot, 0.1)
    df_clean.loc[i, 'y_com'] = weighted_y / max(weight_tot, 0.1)

,r0_1,r2_1,r6_1,r0_2,r2_2,r6_2,x_com,y_com
0,5.196969,2.184610,1.919284,1.825915,1.675442,0.757079,0.820953,8.210906
1,5.196969,2.167257,1.919284,1.825915,1.689609,0.745243,0.825939,8.202207
2,5.196969,2.167257,1.933984,1.844736,1.675442,0.732686,0.834838,8.188973
3,5.196969,2.167257,1.933984,1.825915,1.675442,0.723425,0.833766,8.181833
4,5.196969,2.167257,1.933984,1.844736,1.661731,0.705502,0.840375,8.159293
...,...,...,...,...,...,...,...,...
303,1.359000,inf,inf,inf,inf,inf,0.000000,0.000000
304,1.217565,inf,0.919280,inf,inf,inf,1.720818,5.592657
305,1.008970,inf,0.822661,inf,inf,inf,1.796565,5.838838
306,0.776438,inf,0.682693,inf,inf,inf,1.871505,6.082391
307,0.422554,inf,inf,inf,inf,inf,0.000000,0.000000